:root {
  --clr-grey-10: #f1f5f8;
  --clr-gold: #c59d5f;
  --clr-grey-1: hsl(209, 61%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: var(--clr-grey-10);
  line-height: 1.5;
  font-size: 0.875rem;
}
.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}

.title h2 {
  text-align: center;
  letter-spacing: 0.25rem;
  font-size: 2rem;
  font-family: "Great Vibes", cursive;
  color: var(--clr-gold);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.question {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: 0.1rem;
  color: var(--clr-grey-1);
  font-size: 0.95rem;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-gold);
  transition: all 0.4s ease;
}
.question-btn:hover {
  transform: rotate(90deg);
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
}

.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}
